 .ChartsContainer {
    display: flex;
    margin: 0 auto;
    transform: translateY(-40px);
}

@media only screen and (max-width : 375px) {  
    .ChartsContainer {
        transform: translateY(-14px);
    }
    


}