.Chart {
    width: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 18px;
    position: relative;
    transition: all 0.2s;
}

.Chart svg rect:hover {
    fill: #FF9B86;
    transition: all 0.2s;
}



.Chart h4 {
    color: #92857A;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
}

.Chart p {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 71px;
    height: 50px;
    color: #FFF;
    font-weight: 700;
    border-radius: 10px;
    background-color: #382314;
    margin-bottom: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 60% 84%, 49% 100%, 35% 84%, 0 84%);
}


@media only screen and (max-width : 375px) {  
    .Chart {
        margin-right: -5px;
    }

    .Chart h4 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 11px;
    }
    
    .Chart p {
        font-size: 15px;
        width: 55px;
        height: 30px;
    }

}