.SpendingCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 511px;
    background-color: #FFF;
    border-radius: 20px;
    margin-top: 24px; 
}

.SpendingCard h1 {
    width: 350px;
    height: 42px;
    margin-top: 32px;
    margin-left: 33px;
    color: #382314; 
}

@media only screen and (max-width : 375px) { 
    .SpendingCard {
        width: 343px;
        height: 421px;
        margin-inline: auto;
    }
    
    
    .SpendingCard h1 {
        width: 263px;
        height: 31px;
        margin-top: 24px;
        margin-left: 20px;
        font-size: 24px;
    }

    
}

