* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #F8E9DD;
  font-family: 'DM Sans';
  box-sizing: border-box;
}

.App {
  width: 540px;
  margin: 90px auto; 
}

@media only screen and (max-width : 375px) { 
  .App {
    width: 375px; 
  }
}

